body
{
  background-color: #E4F9F5 !important;
  background-image: url("https://cdn.pixabay.com/photo/2016/01/24/18/17/wall-1159348_960_720.jpg");

}

h1
{
  color:  #004445;
  width: 40%;
     margin-left: 25rem;
     text-align: center;
 font-family: 'Sacramento', cursive;
}
.header
{

  font-family: 'Ubuntu';
  text-align: center;
  height: 10%;
}

/* center Division */

.centre-1
{
  border: solid #DCDCDC 1px;
  border-radius: 2%;
  margin: 4rem;
  margin-bottom: 3rem;
  width: 500px;
  padding: 5%;
  background-color: #ffffff !important;
}

.text
{
  position:absolute;
  left: 5rem;
background-color: #e4f9ff;
color: #11999E;
}
img{
  width: 4rem;
}
.logo{
  width: 20rem;
   float: right;
 margin-right: 20%;
 margin-top: 10%;
 border-radius: 50%;
 position:relative;
}

.centre-2
{
  border: solid #DCDCDC 1px;
  border-radius: 2%;
  margin: 4rem;
  margin-top: 2rem;
  width: 500px;
  padding: 5%;
  background-color: #ffffff !important;
}

.button
{
  position: relative;
  left: 30%;
  margin-top: 6%;
}

/* Foot-Division */

.footer
{
  text-align:center;
  background-color: #e4f9ff !important;
  margin-top: 20px;
  padding: 30px ;
  font-family: "Ubuntu";
}

.pics
{
  position: static;
  right: 0.6rem;

}

.footer-link
{
  margin-left: 5px;

}

<style type="text/css">
#dvPreview
{
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=image);
    min-height: 400px;
    min-width: 400px;
    display: none;
}
</style>


.twitter:hover
{
  width: 3.5rem;
  height: 3.5rem;
}

.insta:hover
{
  width: 3.5rem;
  height: 3.5rem;
}

.fb:hover
{
  width: 3.5rem;
  height: 3.5rem;
}


.copyright
{
  margin-bottom: 0;
}
